@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

.font-display {
  font-family: var(--font-family-heading);
}

.font-ui {
  font-family: var(--font-family-body);
}
